body {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 70px;
    margin-left: 70px;
}

#backgroundDiv {
  content: "";
  background: url("http://static.mmo-champion.com/mmoc/images/news/2010/march/echoisles0.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
#imageContainer {
    height: 28em;
}
